/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
    background: #166a46; /* Color de fondo de la pista */
    border-radius: 0px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
    background: #aeaeae; /* Color del pulgar */
    border-radius: 20px; /* Bordes redondeados */
}

